---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const fullEpisodeLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "YouTube",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:youtube",
	},
	{
		friendlyName: "Spotify",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:spotify",
	},
	{
		friendlyName: "Apple Podcasts",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:apple",
	},
];

const communityLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Discord",
		link: "/igot99problems/404", //"https://google.com",
		name: "ic:baseline-discord",
	},
	{
		friendlyName: "Reddit",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:reddit",
	},
	{
		friendlyName: "Substack",
		link: "/igot99problems/404", //"https://google.com",
		name: "simple-icons:substack",
	},
];

const contactLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Email",
		link: "/igot99problems/404", //"https://google.com",
		name: "ic:outline-mail",
	},
	{
		friendlyName: "LinkedIn",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Instagram",
		link: "/igot99problems/404", //"https://google.com",
		name: "mdi:instagram",
	},
];

const { group } = Astro.props;
---

{
	group == "full episodes" && (
		<div class="mb-4 grid max-w-screen-sm grid-cols-2 gap-4 sm:mb-0">
			<div class="flex items-center">
				<p>Watch Full Episodes</p>
			</div>
			<div>
				<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
					{fullEpisodeLinks.map(({ friendlyName, isWebmention, link, name }) => (
						<li class="flex">
							<a
								class="inline-block p-1 sm:hover:text-link"
								href={link}
								rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
								target="_blank"
							>
								<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
								<span class="sr-only">{friendlyName}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	)
}

{
	group == "community" && (
		<div class="mb-4 grid max-w-screen-sm grid-cols-2 gap-4 sm:mb-0">
			<div class="flex items-center">
				<p>Join Our Community</p>
			</div>
			<div>
				<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
					{communityLinks.map(({ friendlyName, isWebmention, link, name }) => (
						<li class="flex">
							<a
								class="inline-block p-1 sm:hover:text-link"
								href={link}
								rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
								target="_blank"
							>
								<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
								<span class="sr-only">{friendlyName}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	)
}

{
	group == "contact" && (
		<div class="mb-4 grid max-w-screen-sm grid-cols-2 gap-4 sm:mb-0">
			<div class="flex items-center">
				<p>Contact Us</p>
			</div>
			<div>
				<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
					{contactLinks.map(({ friendlyName, isWebmention, link, name }) => (
						<li class="flex">
							<a
								class="inline-block p-1 sm:hover:text-link"
								href={link}
								rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
								target="_blank"
							>
								<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
								<span class="sr-only">{friendlyName}</span>
							</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	)
}
